Workflow/AI Video Curation/4.4.1.1_n8n_T2V 종합_최종.json
{
  "name": "4.4.1.1_n8n_T2V 종합_최종",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1bcb2765-3d78-4ac3-b53e-8f6dd9cfd3dc",
              "name": "output[0].content[0].text",
              "value": "={{ $json.output[0].content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -832,
        -80
      ],
      "id": "482ade0d-6aa5-47c6-a4de-d0332f5ced93",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1bcb2765-3d78-4ac3-b53e-8f6dd9cfd3dc",
              "name": "output[0].content[0].text",
              "value": "={{ $json.output[0].content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -912,
        144
      ],
      "id": "0ca050bb-2beb-4194-b8ab-61905a0b2b7c",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appjJvyORgzm2LAqc",
          "mode": "list",
          "cachedResultName": "4.4. AI 영상 큐레이션 전략",
          "cachedResultUrl": "https://airtable.com/appjJvyORgzm2LAqc"
        },
        "table": {
          "__rl": true,
          "value": "tblIm5pNnaUM2jlzp",
          "mode": "list",
          "cachedResultName": "4.4.1. Text to Video_최종B",
          "cachedResultUrl": "https://airtable.com/appjJvyORgzm2LAqc/tblIm5pNnaUM2jlzp"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Cul_Search records').item.json.id }}",
            "Status": "done",
            "Script": "={{ $('Script generate').item.json.output[0].content[0].text }}",
            "Image": "={{[{\"url\": $node[\"Flux_Avatar\"].json.images[0].url}] }}",
            "Output_Video": "={{ [{ \"url\": $node[\"Kling_Avatar video\"].json.video.url }] }}",
            "Audio": "={{[{\"url\": $node[\"Minimax_audio\"].json.audio.url}] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Script",
              "displayName": "Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "ready",
                  "value": "ready"
                },
                {
                  "name": "done",
                  "value": "done"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Language",
              "displayName": "Language",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Zh",
                  "value": "Zh"
                },
                {
                  "name": "KO",
                  "value": "KO"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Image",
              "displayName": "Image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Audio",
              "displayName": "Audio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Output_Video",
              "displayName": "Output_Video",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -816,
        368
      ],
      "id": "9ed4772f-fbdb-457f-8009-78aaf12bd467",
      "name": "Avatar_video",
      "credentials": {
        "airtableTokenApi": {
          "id": "AkDeXmHOyqHkM5dm",
          "name": "AI 미디어 큐레이션"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "content": "=Source language:{{ $('Cul_Search records').item.json.Language }} .\nDetect the language of the source text. \nIf it is Zh, generate an image prompt for an **avatar** of a woman teacher wearing a Qipao. \nIf it is KO, generate an image prompt for a **avatar** teacher  wearing a Hanbok. Style: Realistic, upper-body focus."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -1184,
        144
      ],
      "id": "29264778-edc3-461b-9a57-3baf65d684a9",
      "name": "Video_Avatar_prompt",
      "credentials": {
        "openAiApi": {
          "id": "JhfQgMRWYREKToKU",
          "name": "학위논문"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fal.run/fal-ai/minimax/speech-2.6-turbo",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 8d0dc3bb-48ca-4b19-a171-fd1e0ef3ea86:d4f52530668b12a3e3fa898a7a72cefc"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.output[0].content[0].text }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -608,
        -80
      ],
      "id": "51a2cbee-f199-4dc7-a59f-3ffa108e5d22",
      "name": "Minimax_audio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fal.run/fal-ai/flux-2-flex",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 8d0dc3bb-48ca-4b19-a171-fd1e0ef3ea86:d4f52530668b12a3e3fa898a7a72cefc"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.output[0].content[0].text }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -752,
        144
      ],
      "id": "972fb663-99e9-4dcf-9196-8b8779b53249",
      "name": "Flux_Avatar"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fal.run/fal-ai/kling-video/v1/standard/ai-avatar",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 8d0dc3bb-48ca-4b19-a171-fd1e0ef3ea86:d4f52530668b12a3e3fa898a7a72cefc"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image_url\": \"{{ $('Flux_Avatar').item.json.images[0].url }}\",\n  \"audio_url\": \"{{ $('Minimax_audio').item.json.audio.url }}\",\n  \"format\": \"mp4\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1024,
        368
      ],
      "id": "bff9fcd2-28e0-45c4-af92-23f13540f352",
      "name": "Kling_Avatar video"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1200,
        368
      ],
      "id": "930d21de-69f0-425e-9655-43f6476adc5e",
      "name": "Wait",
      "webhookId": "53bf5739-0feb-4394-813e-08e659f1434f"
    },
    {
      "parameters": {
        "fieldToSplitOut": "images[0].url",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -592,
        144
      ],
      "id": "24c3ecbf-c7e5-4f8d-9206-8e04a47b982c",
      "name": "Split Out"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "content": "=Airtable의 source를 기반으로 \"30~40자의 아바타 스크립트\" 작성: \n문법 설명을 자연스럽게 다듬어주고 짧은 예문도 하나 만들어줘\n스크립트 언어는 {{ $json.Language }} 사용\n**글자수 엄격히 준수**\nAirtable의 source\n{{ $json.Source }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -1184,
        -80
      ],
      "id": "f5be9884-5430-40d4-8b38-19cbe1ff1c7c",
      "name": "Script generate",
      "credentials": {
        "openAiApi": {
          "id": "JhfQgMRWYREKToKU",
          "name": "학위논문"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appjJvyORgzm2LAqc",
          "mode": "list",
          "cachedResultName": "4.4. AI 영상 큐레이션 전략",
          "cachedResultUrl": "https://airtable.com/appjJvyORgzm2LAqc"
        },
        "table": {
          "__rl": true,
          "value": "tblEmKXhH58sCJjTE",
          "mode": "list",
          "cachedResultName": "4.4.1. Text to Video_최종",
          "cachedResultUrl": "https://airtable.com/appjJvyORgzm2LAqc/tblEmKXhH58sCJjTE"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Cul_Search records').item.json.id }}",
            "Status": "done",
            "Kling": "={{ [{ \"url\": $node[\"Kling_video\"].json.video.url }] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Text",
              "displayName": "Text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "ready",
                  "value": "ready"
                },
                {
                  "name": "done",
                  "value": "done"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Language",
              "displayName": "Language",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "ZH",
                  "value": "ZH"
                },
                {
                  "name": "KO",
                  "value": "KO"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Seedance",
              "displayName": "Seedance",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Kling",
              "displayName": "Kling",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Sora",
              "displayName": "Sora",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -128,
        -240
      ],
      "id": "b9e6162e-5c7b-4310-b3f6-c14271406e40",
      "name": "Kl_video",
      "credentials": {
        "airtableTokenApi": {
          "id": "AkDeXmHOyqHkM5dm",
          "name": "AI 미디어 큐레이션"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appjJvyORgzm2LAqc",
          "mode": "list",
          "cachedResultName": "4.4. AI 영상 큐레이션 전략",
          "cachedResultUrl": "https://airtable.com/appjJvyORgzm2LAqc"
        },
        "table": {
          "__rl": true,
          "value": "tblEmKXhH58sCJjTE",
          "mode": "list",
          "cachedResultName": "4.4.1. Text to Video_최종",
          "cachedResultUrl": "https://airtable.com/appjJvyORgzm2LAqc/tblEmKXhH58sCJjTE"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Cul_Search records').item.json.id }}",
            "Status": "done",
            "Seedance": "={{ [{ \"url\": $node[\"seedance_video\"].json.video.url }] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Text",
              "displayName": "Text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "ready",
                  "value": "ready"
                },
                {
                  "name": "done",
                  "value": "done"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Language",
              "displayName": "Language",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "ZH",
                  "value": "ZH"
                },
                {
                  "name": "KO",
                  "value": "KO"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Seedance",
              "displayName": "Seedance",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Kling",
              "displayName": "Kling",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sora",
              "displayName": "Sora",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -128,
        -432
      ],
      "id": "2ad3ce27-d637-4634-8a26-a04b9d47efaa",
      "name": "See_video",
      "credentials": {
        "airtableTokenApi": {
          "id": "AkDeXmHOyqHkM5dm",
          "name": "AI 미디어 큐레이션"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fal.run/fal-ai/bytedance/seedance/v1.5/pro/text-to-video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 8d0dc3bb-48ca-4b19-a171-fd1e0ef3ea86:d4f52530668b12a3e3fa898a7a72cefc"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.output[0].content[0].text }}"
            },
            {
              "name": "duration",
              "value": "10"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -352,
        -432
      ],
      "id": "8606f52e-f24b-4e6a-ae0a-38be4958e210",
      "name": "seedance_video"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fal.run/fal-ai/kling-video/v3/pro/text-to-video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 8d0dc3bb-48ca-4b19-a171-fd1e0ef3ea86:d4f52530668b12a3e3fa898a7a72cefc"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.output[0].content[0].text }}"
            },
            {
              "name": "duration",
              "value": "10"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -352,
        -240
      ],
      "id": "1117e708-c885-441f-b071-83619785c641",
      "name": "Kling_video"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1584,
        -368
      ],
      "id": "4a158b26-b7ba-44f8-b777-be92030c0276",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appjJvyORgzm2LAqc",
          "mode": "list",
          "cachedResultName": "4.4. AI 영상 큐레이션 전략",
          "cachedResultUrl": "https://airtable.com/appjJvyORgzm2LAqc"
        },
        "table": {
          "__rl": true,
          "value": "tblEmKXhH58sCJjTE",
          "mode": "list",
          "cachedResultName": "4.4.1. Text to Video_최종A",
          "cachedResultUrl": "https://airtable.com/appjJvyORgzm2LAqc/tblEmKXhH58sCJjTE"
        },
        "filterByFormula": "{Status}='ready'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1392,
        -368
      ],
      "id": "758765ce-c9a9-4e52-8f71-5d20103f1974",
      "name": "Cul_Search records",
      "alwaysOutputData": false,
      "credentials": {
        "airtableTokenApi": {
          "id": "AkDeXmHOyqHkM5dm",
          "name": "AI 미디어 큐레이션"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appjJvyORgzm2LAqc",
          "mode": "list",
          "cachedResultName": "4.4. AI 영상 큐레이션 전략",
          "cachedResultUrl": "https://airtable.com/appjJvyORgzm2LAqc"
        },
        "table": {
          "__rl": true,
          "value": "tblIm5pNnaUM2jlzp",
          "mode": "list",
          "cachedResultName": "4.4.1. Text to Video_최종B",
          "cachedResultUrl": "https://airtable.com/appjJvyORgzm2LAqc/tblIm5pNnaUM2jlzp"
        },
        "filterByFormula": "{Status}='ready'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1408,
        -80
      ],
      "id": "011122be-8a07-4199-bbaa-c99c3393de12",
      "name": "Avatar_Search records",
      "alwaysOutputData": false,
      "credentials": {
        "airtableTokenApi": {
          "id": "AkDeXmHOyqHkM5dm",
          "name": "AI 미디어 큐레이션"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "content": "=【역할】 문화 영상 감독 + AI 영상 프롬프트 엔지니어\n【입력 소재】  {{ $json.Text }}\n【지침】\n【입력 소재】{{ $json.Text }}의 의미를 정확히 파악하고, 이를 바탕으로 해당 문화에 관련된 AI 영상 생성 Prompt를 출력한다.\n목표: 10초 이내의 문화 서사 단편 영상 (Kling / Runway / Seedance / Sora 적용 가능)\n【하드 제약·실행 전 필독】\n· 화면에 절대 금지: 문자, 자막, 로고, 워터마크, UI 요소, 그래픽 오버레이 일체\n· 모든 정보는 구도·카메라·조명·색채·동작·리듬 + 음성 내레이션으로만 전달\n· 총 길이 ≤ 12초 / 내레이션은 7–8초 이내\n【출력 구조 (순서대로, 코드블록에 담아 출력)】\n① 임무 한 줄\n영상 주제 + 스타일 기조 + 기본 파라미터 (길이/비율)\n② 문화 해독 (내부 추론 — 코드블록에는 미출력)\n입력 소재에서 핵심 문화 요소 3–5개 추출 → 시각 은유로 전환\n(예: 함께 앉음 = 공동체, 수증기 = 시간의 흐름)\n③ 씬 구성 (3–4개 씬)\n각 씬 필수 포함:\n- 시간대 (예: 0–2.5s)\n- 카메라: 종류 (풀샷/미디엄/클로즈업)+움직임 (달리/패닝/정지 등)\n- 조명: 색온도, 방향 (측광/역광/볼류메트릭 등)\n- 색채 기조: 한 문장으로 정의- 피사체 동작: 인물 또는 오브젝트의 구체적 움직임 (텍스트 없이 의미 전달)\n④ 오디오 설계 \n- 환경음: 씬에 대응하는 자연 음향 \n- BGM: 스타일 한 문장 (예: \"잔잔한 가야금, 느린 호흡\")\n-  내레이션: {{ $json.Language }} 구어체 짧은 설명 문장 1마디 \n- 명시: 내레이션 총 길이는 6–7초 이내로 권장\n⑤ Keywords 영문 키워드 8–15개, 촬영감·분위기 중심\n(예시 스타일: cinematic realism, shallow depth of field, warm side light)\n⑥ Negative Prompt  필수 포함: no text, no subtitles, no logo, no watermark, no \ngraphic overlays, no UI elements\n주제에 맞는 추가 배제어 보완\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -1216,
        -368
      ],
      "id": "dc86c962-ee34-4896-916c-e7b83a64cd9e",
      "name": "Video prompt",
      "credentials": {
        "openAiApi": {
          "id": "JhfQgMRWYREKToKU",
          "name": "학위논문"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map((item) => {\n  // 원본 가사 안전하게 가져오기\n  const rawText = item.json.output?.[0]?.content?.[0]?.text || \"\";\n\n  // 가사 정리 (기존과 동일한 로직)\n  const cleanedText = rawText\n    .replace(/\\[Lyrics\\]:/g, \"\")\n    .replace(/\\n/g, \" \")\n    .trim();\n\n  return {\n    json: {\n      ...item.json,     // ← 기존 데이터(아이디, Sound Type 등) 모두 유지!\n      text: cleanedText // ← 정제된 가사 (이후 노드에서 그대로 {{ $json.text }} 사용 가능)\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        -368
      ],
      "id": "5d95c634-26ee-46eb-93cf-94949bef950c",
      "name": "prompt",
      "executeOnce": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "381d4979-19ef-4e23-92be-8e8046b64fd2",
              "leftValue": "={{ $('Cul_Search records').item.json.Model }}",
              "rightValue": "Seedance",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -640,
        -432
      ],
      "id": "7e3a5747-5e58-4581-9ca0-c7bf0e0a67e3",
      "name": "Seedance"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "381d4979-19ef-4e23-92be-8e8046b64fd2",
              "leftValue": "={{ $('Cul_Search records').item.json.Model }}",
              "rightValue": "Kling",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -656,
        -272
      ],
      "id": "b3c2d729-e4b8-44e3-9354-b01f34de3e36",
      "name": "Kling"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Minimax_audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Flux_Avatar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video_Avatar_prompt": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Minimax_audio": {
      "main": [
        [
          {
            "node": "Video_Avatar_prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flux_Avatar": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kling_Avatar video": {
      "main": [
        [
          {
            "node": "Avatar_video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Kling_Avatar video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Script generate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "seedance_video": {
      "main": [
        [
          {
            "node": "See_video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kling_video": {
      "main": [
        [
          {
            "node": "Kl_video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Cul_Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cul_Search records": {
      "main": [
        [
          {
            "node": "Video prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avatar_Search records": {
      "main": [
        [
          {
            "node": "Script generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video prompt": {
      "main": [
        [
          {
            "node": "prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prompt": {
      "main": [
        [
          {
            "node": "Seedance",
            "type": "main",
            "index": 0
          },
          {
            "node": "Kling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seedance": {
      "main": [
        [
          {
            "node": "seedance_video",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Kling": {
      "main": [
        [
          {
            "node": "Kling_video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6999b8d8-0c27-4ef8-b9ba-8b88633be773",
  "meta": {
    "instanceId": "324b20db7bd7622c84e52c3bee689ffea3754ee2e9d9027179fea14d6a4cb1d7"
  },
  "id": "24pRFCqeBOA4i4Ev",
  "tags": []
}